.footer-nav {
	margin-top: 15em;
	background-color: #101820;
	color: #888;
	padding: 2em 0;
}

.footer-nav ul {
	list-style: none;
}

.footer-nav ul li {
	display: inline-block;
	margin: 0 0.5em;
}

.footer-nav li a {
	color: #888;
}
