<template name="nav">
  <header>
    <nav class="navbar navbar-white navbar-expand-sm bg-faded navbar-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/"><img src="https://static1.squarespace.com/static/598482cddb29d66f894a0d26/t/5986afdbbe6594b05b34c133/1502024348957/?format=1500w" class="logo"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar3">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar3">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/campaigns">Featured Campaigns</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/organizations">Top Charities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/campaign/new">Start a Campaign</a>
            </li>
            {{#if currentUser}}
              <li class="nav-item">
              <a class="nav-link logout" href="#">Log Out</a>
            </li>
            {{else}}
              <li class="nav-item">
                <a class="nav-link" href="/users/login">Log In</a>
              </li>
              <li class="nav-item">
                <a href="/users/register">
                  <span class="btn btn-donate">
                  Sign Up
                  </span>
                </a>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>
  </header>
</template>
